{{- /*
    Load the Homebrew todo-txt template
*/ -}}
{{- $brewPrefix := (output "brew" "--prefix" "todo-txt") | trim -}}
{{- $tmplPath := printf "%s/todo.cfg" $brewPrefix -}}

{{- if not (stat $tmplPath) -}}
# ERROR: todo-txt configuration template not found at {{ $tmplPath }}
{{- else -}}

{{ include $tmplPath }}

# === CONFIG OVERRIDES ===

TODO_DIR="$HOME/Documents/todo-txt"
TODO_LIST="${TODO_LIST:-todo}"
export TODO_DIR TODO_LIST

TODO_FILE="$TODO_DIR/$TODO_LIST.txt"
DONE_FILE="$TODO_DIR/$TODO_LIST.done.txt"
REPORT_FILE="$TODO_DIR/$TODO_LIST.report.txt"
export TODO_FILE DONE_FILE REPORT_FILE

# Default Colored Priorities
export PRI_A=$YELLOW       # Color for A priority
export PRI_B=$GREEN        # Color for B priority
export PRI_C=$LIGHT_BLUE   # Color for C priority

# Additional Colored Priorities
export PRI_D=$LIGHT_PURPLE # Color for D priority
export PRI_E=$LIGHT_CYAN   # Color for E priority
export PRI_F=$LIGHT_RED    # Color for F priority

# New Colors
export PEACH='\\033[0;38:5:224m'

# Change Context and Date colors
export COLOR_CONTEXT=$PEACH
export COLOR_DATE=$LIGHT_GREEN
export COLOR_PROJECT=$PEACH

{{- end -}}
